:host {
    opacity: 0;
}

:host(.wired-rendered) {
    opacity: 1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

svg {
    display: block;
}

path {
    stroke: var(--wired-card-background-fill, currentColor);
    stroke-width: 0.7;
    fill: transparent;
}

.hidden {
    display: none;
}

path.cardFill {
    stroke-width: 3.5;
    stroke: var(--wired-card-background-fill);
}

