:host {
  opacity: 0;
}

:host(.wired-rendered) {
  opacity: 1;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.svg-wired {
  display: block;
}

.svg-wired path {
  stroke: var(--wired-card-background-fill, currentColor);
  fill: transparent;
}

.button-svg-line:hover .svg-wired path {
  stroke-width: 1.5;
}
.hidden {
  display: none;
}

path.cardFill {
  stroke-width: 3.5;
  stroke: var(--wired-card-background-fill);
}
